@inject LayoutUtils LUtils
@model WebApplication4.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";  
}


   <div id="root"></div>
   

@section reactScript  
{   
   <script src="~/js/change-info.js" ></script>
}  