.customSpace .ant-space.ant-space-horizontal.ant-space-align-center {
    /* row-gap: 25px !important; */
    column-gap: 25px !important;
}

.customSpace {
    position: relative;
}

.customSpace .btn-footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.customSpace .unActive {
    transition: all 0.3s linear;
}

.customSpace .active {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.3s linear;
}

.customSpace {
    transition: all 0.3s linear;
}

.detail-zone {
    transition: all 0.3s;
}

.detail-zone .close-detail-zone {
    cursor: pointer;
    font-size: 21px;
    transition: all 0.3s linear;
}

.detail-zone .close-detail-zone:hover {
    color: red;
}