* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding: 0;
    margin: 0;
}

.ant-card-head {
    /* min-height: 48px;
    margin-bottom: -1px;
    padding: 0 24px;

    font-weight: 500;
    font-size: 16px;
    background: transparent;
    border-radius: 2px 2px 0 0; */
    color: #626566;
    opacity: 1 !important;
    border-bottom: 1px solid #afabab !important;
}

.ant-card-bordered {
    border: 1px solid #afabab;
}

.ant-card-small>.ant-card-head {
    /* min-height: 36px;
    padding: 0 12px; */
    font-size: 20px;
}