* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding: 0;
    margin: 0;
}

.CustomCard .ant-card-head {
    color: #626566;
    opacity: 1 !important;
    border-bottom: 1px solid #afabab !important;
}

.CustomCard .ant-card-bordered {
    border: 1px solid #afabab;
}

.CustomCard .ant-card-small>.ant-card-head {
    /* min-height: 36px;
    padding: 0 12px; */
    font-size: 16px;
}

.ant-tabs-left>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane {
    padding-left: 0px;
    background-color: #DFDFDE;
}