body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


/* Custom slick */

.slick-slide {
    padding: 0 27px;
    background-color: #DFDFDE;
    min-height: 100vh;
}

.slick-list {
    padding: 0 -27px;
}

p {
    margin: 0 !important;
}