*{
  margin: 0;
  padding: 0;
}
.App-Form {
  background-color: #F2f2f2;
  min-height: 100vh;
  padding-bottom: 20px;
}
.App-Form .ant-form-item {
  /* margin-bottom: 25px; */
}
.App-Form h4{
 font-size: 21px;
 text-align: center;
}
.totalOrder .ant-input-number {
  width: 100%;

}
.App-Form .main .Scroll-Left{
  scroll-snap-type: y mandatory;
  /* max-width: 400px; */
  height: 100vh;
  overflow-y: auto;

  padding-right: 10px;
  scroll-padding: 2rem;
}
.App-Form .main .Scroll-Left::-webkit-scrollbar{
  width: 6px;
  
}
.App-Form .main .Scroll-Left::-webkit-scrollbar-thumb{
  background-color: #C1C1C1;
  border-radius: 10px;
  overflow: hidden;
}
.App-Form .main .Scroll-Left::-webkit-scrollbar-track{
  background-color: #F2f2f2;
}

.CustomFormInput .ant-form-item {
  font-size: 14px;
  margin-bottom: 10px;
  transition: none;
}
.CustomFormInput .ant-form-vertical .ant-form-item-label{
  padding: 0 0 2px;
}
.CustomFormInput .ant-form-item-explain, .ant-form-item-extra {
  font-size: 10px;
  line-height: 1.5715;

}
.CustomFormInput .ant-form-item-with-help .ant-form-item-explain {
  position: absolute;
  bottom: -50% ;
  right: 0;
  min-height: 15px;
  text-align: end;
}
.CustomFormInput .ant-form-item-has-error{
  /* margin-bottom: 0px !important; */
  position: relative;
  
}
.CustomFormInput .ant-form-item-has-success .ant-form-item-explain {
  transition: none !important;
  animation-name: nhanhoa;
  animation-delay: 0s;
  position: absolute;
  /* opacity: 0; */
  bottom: 0;
  right: 0;
  
  z-index: 1;
}
.CustomFormInput .ant-form-item-has-success {
  z-index: 10;
}
.CustomFormInput .showForm{
  
}
@keyframes nhatnhoa {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
    background-color: blue;
    font-size: 100px;
  }
  50% {
    opacity: 0.5;
  }
  75%{
    opacity: 0.25;
  }
  100%{
    opacity: 0;
  }
}