.ant-spin-container {
    position: relative;
    height: 937px;
    z-index: 100;
}

.ant-pagination {
    position: absolute !important;
    right: 50% !important;
    bottom: 90px !important;
    z-index: 100;
    transform: translateX(50%);
}

.ant-form-item {
    margin-bottom: 0px !important;
}

.ant-pagination-options {
    display: none !important;
}

.print {
    position: fixed !important;
}

.print-layout {
    width: 248px;
    height: 174px;
    page-break-before: always;
    background-color: aqua;
}

@media print {
    .page {
        page-break-after: always;
    }
}

@media print {
    .print-layout {
        page-break-before: always;
    }
}